@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@400;500&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif; */
/* 54, 159, 245  theme color*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fafafa;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
h1{
  font-size: 1.8rem;
}
h2{
  font-size: 1.2rem;
}
.gray{
  color: #757575;
}
.primary{
  color:#03a9f4;
}
button{
  background-color: #039be5 ;
  transition: all .5s ease;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
}
button:hover{
  background-color: #03a9f4;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
